service: hat-draw

provider:
  name: aws
  runtime: nodejs6.10
  environment:
    MONGODB_URI: ${file(./lib/config.json):MONGODB_URI}

functions:
  hatDraw:
    handler: handler.hatDraw
    events:
      - http:
          path: hatDraw
          method: post
          cors: true
  fetchUsers:
    handler: handler.fetchUsers
    events:
      - http:
          path: fetchUsers
          method: get
          cors: true
